* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

input {
  display: none;
}

nav {
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

input {
  display: none;
}

#Menu {
  width: 100%;
  position: fixed;
  height: auto;
  float: right;
  z-index: 2;
  margin-left: 100%;
  transition: all 2s;
  list-style: none;
  ;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#btn:checked~#Menu {
  margin-left: 0%;
  transition: all 2s;
  box-sizing: border-box;
}

#Menu a,
#Menu a:visited,
#Menu a:active {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5vh;
  text-decoration: none;
  color: #0080BF;
  padding: 1% 2.3vw;
  border-bottom: 1vh solid black;
  transition: all 0.75s;
  text-align: center;

}

#Menu a:hover {
  border-bottom: 1vh solid #0080BF;
  transition: all 0.75s;
}

#presentacion {
  background-image: url(Imagenes/pngtree-tech-background-picture-image_2759047.jpg);
  background-repeat: no-repeat;
  background-size: 100% 110%;
  opacity: 10;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 3vh 9vw 5vh 9vw;
  box-sizing: border-box;
}

#tpresentacion {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  margin: 3vh 0vw 0vh 0vh;
  height: 100%;
}


#tpresentacion img {
  width: 10%;
  height: 10%;

}

#tpresentacion h1 {
  font-family: sans-serif;
  font-size: 7vw;
  color: white;
}

#presentacion label {
  width: 35%;
  box-sizing: border-box;
  padding: 2% 2%;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  margin: 25vh 0vw 0vh 0vw;
}


#frase {
  background: linear-gradient(45deg, black, #505050);
  background-size: 200% 200%;
  position: relative;
  padding: 10vh 10vw;
  animation: fondo 5s ease infinite;
}

@keyframes fondo {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }

}

#frase h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4.5vw;
  text-align: justify;
  color: white;
}

#Nosotros {
  width: 100%;
  padding: 2vh 2vw;
  margin-bottom: 1%;
}

#Nosotros h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.25vw;
  color: #0080BF;
  width: 50%;
  height: auto;
  margin-left: 3%;
  margin-top: 1.5%;
}

#imgnosotros {
  display: flex;
  flex-direction: row;
  margin: 1% 3% 1.5% 3%;
}


#imgnosotros img {
  width: 55%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5% 0% 0% 0%;
  margin-right: 2%
}


#Textonosotros {
  width: 42%;
  box-sizing: border-box;
  padding: 4% 2.5% 4% 2.5%;
}

#Textonosotros h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  color: #0080BF;
}

#Textonosotros p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9vw;
  text-align: justify
}

#Objetivos {
  width: 100%;
  height: auto;
  background-color: #0080BF;
  padding: 5.5vh 2vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box
}

.mision {
  width: 31.333%;
  height: 100%;
  box-sizing: border-box;
  margin: 1%
}


.mision h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4.25vw;
  color: white;
  text-align: center
}

.mision p {
  margin-top: 1.8vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2vw;
  color: white;
  text-align: center;
}

.mision img {
  width: 100%;
  height: 45vh;
  border-radius: 10px;
  color: #000
}

#inversion {
  width: 100%;
  padding: 5vh 6vw 2vh 6vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box
}


#Tinversion {
  background-color: #0080BF;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Tinversion h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.25vw;
  padding: 1.5% 3%;
  color: white;
}

#Dinversion {
  border: 2.5px solid #0080BF;
  border-radius: 15px;
  margin: 2.5% 0%;
  display: flex;
  flex-direction: row;
}

#DinversionT {
  display: flex;
  flex-direction: column;
  width: 40%;
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0 3%;
}


#DinversionT h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  color: #0080BF;
  width: 100%;
}

#DinversionT p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.9vw;
  color: black;
  padding-top: 1vw;
}

#Dinversion img {
  width: 57%;
  height: 70vh;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 3% 3% 3% 6%;
}

#distinsion {
  width: 100%;
  background-color: #0080BF;
  padding: 5vh 4vw 2vh 4vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

#distinsion h3 {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4.25vw;
  color: white;
  text-align: center;
}

#Caja {
  width: 100%;
  background-color: #0080BF;
  padding: 3vh 0vw 2vh 0vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.cajas {
  width: 31.5%;
  margin-top: 2%;
  box-sizing: border-box;
  border: 2px white solid;
  border-radius: 10px;
  padding: 4% 2% 2%;
  text-align: center;
}

.cajas h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5vw;
  color: white;
}

.cajas p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.9vw;
  color: white;

}

.cajas img {
  width: 100%;
  height: 55%;
  background-size: 100%;
  padding: 4% 1%;
}

#Fnal {
  background-image: url(Imagenes/xcom.jpg);
  padding: 4vh 5vw 12vh 5vw;
}

#Fcuadro {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 2%;
  background-color: white;
  border-radius: 20px
}

#Fcuadro h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  color: #0080BF;
  width: 50%;
  padding-left: 1vw;
}

#Tcuadro {
  width: 50%;
}

#Tcuadro p {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.7vw;
  padding: 0% 0% 4% 25%;
}

#comentarios {
  width: 100%;
  padding: 4vh 7vw 5vh 7vw;
  display: flex;
  flex-direction: row;
}

#comentarios h3 {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5.5vw;
  color: #0080BF;
  padding-right: 7.5%;
  box-sizing: border-box;
}

#comentcaja {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.caja1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1.5px solid #0080BF;
  border-top: 1.5px solid #0080BF
}


.caja1 img {
  width: 25%;
  padding: 1.5%;
  border-radius: 20px;
}

.tcoment {
  width: 75%;
  height: auto
}

.tcoment h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5vw;
}

.tcoment p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.65vw
}


@media (max-width:767px) and (min-width:0px) {
  * {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
  }

  body {
    min-width: 100vw;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: white;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  header {
    width: 100%;
  }

  #Menu {
    width: 100%;
    position: fixed;
    height: auto;
    float: right;
    z-index: 2;
    margin-left: 100%;
    transition: all 2s;
    list-style: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #btn:checked~#Menu {
    margin-left: 0%;
    transition: all 2s;
    box-sizing: border-box;
  }
  
  #Menu a,
  #Menu a:visited,
  #Menu a:active {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.3vh;
    text-decoration: none;
    color: #0080BF;
    padding: 1% 2.3vw;
    border-bottom: 1vh solid black;
    transition: all 0.75s;
    text-align: center;
  
  }
  
  #Menu a:hover {
    border-bottom: 1vh solid #0080BF;
    transition: all 0.75s;
  }


  #presentacion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3vh 9vw 5vh 9vw;
    box-sizing: border-box;
  }

  #tpresentacion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    margin: 3vh 0vw 0vh 0vh;
    height: 100%;
  }


  #tpresentacion img {
    width: 10%;
    height: 10%;

  }

  #tpresentacion h1 {
    font-family: sans-serif;
    font-size: 12vw;
    color: white;
  }

  #presentacion label {
    width: 50%;
    box-sizing: border-box;
    padding: 2% 2%;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    margin: 15vh 0vw 0vh 0vw;
  }


  #frase {
    background: linear-gradient(45deg, black, #505050);
    background-size: 200% 200%;
    position: relative;
    padding: 7.5vh 7.5vw;
    animation: fondo 5s ease infinite;
  }

  @keyframes fondo {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }

  }

  #frase h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7.2vw;
    text-align: justify;
    color: white;
  }

  #Nosotros {
    width: 100%;
    padding: 2vh 2vw;
    margin-bottom: 1%;
  }

  #Nosotros h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    color: #0080BF;
    width: auto;
    height: auto;
    margin-left: 0%;
    margin-top: 1.5%;
    box-sizing: border-box;
    text-align: center;
  }

  #imgnosotros {
    display: flex;
    flex-direction: column;
    margin: 1% 3% 1.5% 3%;
    justify-content: center;
  }


  #imgnosotros img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0.5% 25% 0% 25%;
    margin-right: 0%
  }


  #Textonosotros {
    width: 100%;
    box-sizing: border-box;
    padding: 4% 5% 4% 5%;
  }

  #Textonosotros h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vw;
    color: #0080BF;
    text-align: center;
  }

  #Textonosotros p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.75vw;
    text-align: justify
  }

  #Objetivos {
    width: 100%;
    background-color: #0080BF;
    box-sizing: border-box;
    padding: 3vh 7vw;
    display: flex;
    flex-direction: column;
  }

  .mision {
    width: 100%;
    box-sizing: border-box;
    margin: 2.5% 0%;
  }


  .mision h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    color: white;
    text-align: center
  }

  .mision p {
    margin-top: 1.8vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    color: white;
    text-align: center;
  }

  .mision img {
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    height: auto;
    box-sizing: border-box;
    padding: 0% 20%;
  }

  #inversion {
    width: 100%;
    padding: 3vh 6vw 2vh 6vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box
  }


  #Tinversion {
    background-color: #0080BF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #Tinversion h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    padding: 1.5% 3% 1.5% 3%;
    color: white;
  }

  #Dinversion {
    border: 2.5px solid #0080BF;
    border-radius: 15px;
    margin: 2.5% 0%;
    display: flex;
    flex-direction: column;
  }

  #DinversionT {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
  }


  #DinversionT h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vw;
    color: #0080BF;
    width: 100%;
    text-align: center;
  }

  #DinversionT p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.75vw;
    color: black;
    padding-top: 1vw;
  }

  #Dinversion img {
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
    padding: 3% 17.5% 3% 17.5%;
  }

  #distinsion {
    width: 100%;
    background-color: #0080BF;
    padding: 3vh 4vw 2vh 4vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }

  #distinsion h3 {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    color: white;
    text-align: center;
  }

  #Caja {
    width: 100%;
    background-color: #0080BF;
    padding: 1.5vh 7vw 2vh 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }

  .cajas {
    width: 100%;
    margin-top: 4%;
    box-sizing: border-box;
    border: 2px white solid;
    border-radius: 15px;
    padding: 4% 2%;
    text-align: center
  }

  .cajas h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    color: white;
  }

  .cajas p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.75vw;
    color: white;

  }

  .cajas img {
    width: 100%;
    background-size: 100%;
    padding: 4% 1%;
  }

  #Fnal {
    padding: 4vh 5vw 12vh 5vw;
    width: 100%;
  }

  #Fcuadro {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: white;
    border-radius: 20px
  }

  #Fcuadro h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vw;
    color: #0080BF;
    width: 100%;
    padding-left: 0vw;
    text-align: center;
    padding-bottom: 2vh;
  }

  #Tcuadro {
    width: 100%;
  }

  #Tcuadro p {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.75vw;
    padding: 0% 10% 2% 10%;
  }

  #comentarios {
    width: 100%;
    padding: 4vh 7vw 5vh 7vw;
    display: flex;
    flex-direction: column;
  }

  #comentarios h3 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    color: #0080BF;
    text-align: center;
    padding-right: 0;
    box-sizing: border-box;
    padding-bottom: 1.5vh;
  }

  #comentcaja {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .caja1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1.5px solid #0080BF;
    border-top: 1.5px solid #0080BF;
  }


  .caja1 img {
    width: 25%;
    padding: 1.5%;
    border-radius: 20px;
  }

  .tcoment {
    width: 75%;
    height: auto
  }

  .tcoment h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
  }

  .tcoment p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.75vw
  }

}